[submodule "drake"]
	path = drake
	url = https://github.com/gizatt/drake
[submodule "drc_core_utils"]
	path = drc_core_utils
	url = https://github.com/gizatt/drc_core_utils
[submodule "pcl"]
	path = pcl
	url = https://github.com/pointcloudlibrary/pcl
[submodule "libfreenect2"]
	path = libfreenect2
	url = https://github.com/ChristopherSweeney/libfreenect2.git
[submodule "kinect"]
	path = kinect
	url = https://github.com/openhumanoids/kinect.git
